
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>Highlight your Python code</title>
<style type="text/css">
.defname {color: blue;}
.definition {color: darkorange; font-weight:bold;}
.keyword {color: darkorange;}
.comment {color: crimson;}
.string {color: forestgreen;}
.builtin {color: purple;}
.operator {color: brown;}
.docstring {color: forestgreen; font-style:italic;}
</style>
</head>
<body>

<h3>Insert your code here:</h3>
<form action="" method=post>
						
	<textarea name="code" cols="40" rows="10">print 'Hello world!'
	</textarea>
	<br>
	<input type="submit" value="Highlight"/>

</form>

<div><p>
	<small>
	The highlighting is done using Python. <br>
	The highlighter code is by <a href="http://code.activestate.com/recipes/578178-colorize-python-sourcecode-syntax-highlighting/" target="_blank">Raymond Hettinger</a>. <br>
	The server was written in less than 30 mins using <a href="http://flask.pocoo.org/" target="_blank">Flask</a>. <br>
	The code can be found on <a href="http://github.com/yoavram/highlight/" target="_blank">github</a>. <br>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
	<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
	</a>
	</small>
</p><div>

</body>
</html>